.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85); /* Fondo oscuro desenfocado */
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.modal-content {
    background: #1a1a1a;
    padding: 2rem;
    border-radius: 1.2rem;
    width: 90%;
    max-width: 400px;
    border: 1px solid #dc354566; /* Borde rojo sutil */
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    text-align: center;
}

.modal-header-admin {
    border-bottom: 1px solid #333;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.modal-content input:focus {
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
    border-color: #dc3545;
}